.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: -7rem;

  div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    color: var(--text-title);
    gap: 30px;

    header {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    strong {
      display: block;
      margin-top: 1rem;
      font-size: 42px;
      font-weight: 500;
      line-height: 3rem;
    }

    &:last-child {
      background: var(--green);
      color: var(--white);
    }
  }
}