.container {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  gap: 1rem;
  margin-top: -4.25rem;
  overflow-x: auto;

  div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    color: var(--text-title);
    gap: 30px;

    header {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    strong {
      display: block;
      margin-top: 1rem;
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 3rem;
      font-family: var(--poppins);
    }

    &:first-child {
      margin-left: 1rem;
    }

    &:last-child {
      background: var(--green);
      color: var(--white);
      margin-right: 1rem;
    }
  }
}


@media (min-width: 768px) {
  .container {
    gap: 2rem;
    grid-template-columns: repeat(3, 350px);

    div {
      strong {
        font-weight: 500;
        font-size: 2.625rem;
      }
    }
  }
}

@media (min-width: 1080px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;

    div {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        background: var(--green);
        color: var(--white);
        margin-right: 0;
      }
    }
  }
}