.container {
  margin-top: 4rem;

  section {
    width: 100%;
    border-spacing: 0 0.5rem;

    .head {
      display: grid;
      grid-template-columns: 1fr repeat(3, .5fr);

      padding: 1rem 2rem;

      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5rem;
      text-align: left;

      color: var(--text-head);
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(3, .5fr);

      border: 0;
      border-radius: 0.25rem;
      padding: 1rem 2rem;

      font-size: 1.125rem;

      color: var(--text-table);
      background: var(--white);

      &+.grid {
        margin-top: 1.25rem;
      }

      &:first-child {
        color: var(--text-table);
      }

      .deposit {
        color: var(--green);
      }

      .withdraw {
        color: var(--red);
      }
    }
  }
}